body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding-top: 100px;
}

.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
